package com.axians.eaf.api.{{aggregateNameKebab}}.commands

import org.axonframework.modelling.command.TargetAggregateIdentifier
{{#fields}}
{{#kotlinType}}
import {{kotlinType}}
{{/kotlinType}}
{{/fields}}

data class Create{{aggregateName}}Command(
    @TargetAggregateIdentifier
    val {{aggregateIdField}}: String,
    val tenantId: String,
{{#fields}}
    val {{name}}: {{type}},
{{/fields}}
)
